<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav class="nav">
        <a href="/" class="nav__link">
        <i class="material-icons nav__icon">home</i>
        <span class="nav__text">Inicio</span>
    </a>
    <a href="/galeria" class="nav__link nav__link">
        <i class="material-icons nav__icon">collections</i>
        <span class="nav__text">Galeria</span>
    </a>
    <a href="/precios" class="nav__link">
        <i class="material-icons nav__icon">credit_card</i>
        <span class="nav__text">Precios</span>
    </a>
    <a href="/biografia" class="nav__link">
        <i class="material-icons nav__icon">auto_stories</i>
        <span class="nav__text">Biografia</span>
    </a>
    <a href="/contacto" class="nav__link">
        <i class="material-icons nav__icon">contact_mail</i>
        <span class="nav__text">Contacto</span>
    </a>
</nav>