<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krislyph | Galeria</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/822b4fa56d.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/galeria.css">
</head>

<body>

    <div class="background"></div>
    <div class="switch">
            {{>bottombar this}}
        </div>
    <!--Inicio navbar-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../assets/Mesa_de_trabajo_1.png" width="40" height="40" class="d-inline-block align-top" alt="">
                Krislyph</a> 
            <!--
            <button aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbarSupportedContent" data-toggle="collapse" type="button"><span
                    class="navbar-toggler-icon"></span></button>
            -->

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link link--elara" href="/"><span>Inicio</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link--elara" href="/galeria"><span>Galeria</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link--elara" href="/precios"><span>Precios</span></a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a class="nav-link link--elara" href="/biografia"><span>Biografia</span></a>
                    </li>
                    -->
                    <li class="nav-item">
                        <a class="nav-link link--elara" href="/contacto"><span>Contacto</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Fin navbar-->

    <section class="galeria">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center titulo">
                    <h3 class="display-3">Mi Galeria</h3>
                </div>
            </div>
        </div>
        
        <div class="galleryDESACTIVATED row" id="galleryDESACTIVATED">
            <div class="gallery-itemDESACTIVATED card  col-3 " style="width: 18rem;">
                <div class="content"><img src="https://res.cloudinary.com/dfqgg9f1y/image/upload/v1629036604/Galeria/2_m4hnu8.jpg" loading="lazy" class="card-img-top" alt=""></div>
            </div>
            <div class="gallery-itemDESACTIVATED card  col-3" style="width: 18rem;">
                <div class="content"><img src="https://res.cloudinary.com/dfqgg9f1y/image/upload/v1629036603/Galeria/5_tuzumn.jpg" loading="lazy" class="card-img-top" alt=""></div>
            </div>
            <div class="gallery-itemDESACTIVATED card  col-3" style="width: 18rem;">
                <div class="content"><img src="https://res.cloudinary.com/dfqgg9f1y/image/upload/v1629036603/Galeria/6_fg2otr.jpg" loading="lazy" class="card-img-top" alt=""></div>
            </div>
            <div class="gallery-itemDESACTIVATED card  col-3" style="width: 18rem;">
                <div class="content"><img src="https://res.cloudinary.com/dfqgg9f1y/image/upload/v1629036607/Galeria/7_kmayd9.jpg" loading="lazy" class="card-img-top" alt=""></div>
            </div>
            <div class="gallery-itemDESACTIVATED card  col-3" style="width: 18rem;">
                <div class="content"><img src="https://res.cloudinary.com/dfqgg9f1y/image/upload/v1629036605/Galeria/10_z5auba.jpg" loading="lazy" class="card-img-top" alt=""></div>
            </div>
            <div class="gallery-itemDESACTIVATED card  col-3" style="width: 18rem;">
                <div class="content"><img src="https://res.cloudinary.com/dfqgg9f1y/image/upload/v1629036609/Galeria/15_bkds3g.jpg" loading="lazy" class="card-img-top" alt=""></div>
            </div>
            <div class="gallery-itemDESACTIVATED card  col-3" style="width: 18rem;">
                <div class="content"><img src="https://res.cloudinary.com/dfqgg9f1y/image/upload/v1629036610/Galeria/16_gtb4vc.jpg" loading="lazy" class="card-img-top" alt=""></div>
            </div>
            <div class="gallery-itemDESACTIVATED card  col-3" style="width: 18rem;">
                <div class="content"><img src="https://res.cloudinary.com/dfqgg9f1y/image/upload/v1629036614/Galeria/18_jtnlgf.jpg" loading="lazy" class="card-img-top" alt=""></div>
            </div>
            <div class="gallery-itemDESACTIVATED card  col-3" style="width: 18rem;">
                <div class="content"><img src="https://res.cloudinary.com/dfqgg9f1y/image/upload/v1629036615/Galeria/19_jaxne9.jpg" loading="lazy" class="card-img-top" alt=""></div>
            </div>
            <div class="gallery-itemDESACTIVATED card  col-3" style="width: 18rem;">
                <div class="content"><img src="https://res.cloudinary.com/dfqgg9f1y/image/upload/v1629036613/Galeria/20_axsmf9.jpg" loading="lazy" class="card-img-top" alt=""></div>
            </div>
            <div class="gallery-itemDESACTIVATED card  col-3" style="width: 18rem;">
                <div class="content"><img src="https://res.cloudinary.com/dfqgg9f1y/image/upload/v1629036612/Galeria/21_obm1cb.jpg" loading="lazy" class="card-img-top" alt=""></div>
            </div>
            <!--
            <div class="gallery-itemDESACTIVATED card  col-3" style="width: 18rem;">
                <div class="content"><img src="https://res.cloudinary.com/dfqgg9f1y/image/upload/v1629036612/Galeria/21_obm1cb.jpg" loading="lazy" class="card-img-top" alt=""></div>
            </div>
            -->
            <div class="gallery-itemDESACTIVATED card  col-3" style="width: 18rem;">
                <div class="content"><img src="https://res.cloudinary.com/dfqgg9f1y/image/upload/v1655528799/Galeria/22_efauhy.jpg" loading="lazy" class="card-img-top" alt=""></div>
            </div>
            <div class="gallery-itemDESACTIVATED card  col-3" style="width: 18rem;">
                <div class="content"><img src="https://res.cloudinary.com/dfqgg9f1y/image/upload/v1655528786/Galeria/23_kzfiw3.jpg" loading="lazy" class="card-img-top" alt=""></div>
            </div>
            <div class="gallery-itemDESACTIVATED card  col-3" style="width: 18rem;">
                <div class="content"><img src="https://res.cloudinary.com/dfqgg9f1y/image/upload/v1655528791/Galeria/24_i3pfsw.jpg" loading="lazy" class="card-img-top" alt=""></div>
            </div>
            <div class="gallery-itemDESACTIVATED card  col-3" style="width: 18rem;">
                <div class="content"><img src="https://res.cloudinary.com/dfqgg9f1y/image/upload/v1655528804/Galeria/26_hxdais.jpg" loading="lazy" class="card-img-top" alt=""></div>
            </div>
            <div class="gallery-itemDESACTIVATED card  col-3" style="width: 18rem;">
                <div class="content"><img src="https://res.cloudinary.com/dfqgg9f1y/image/upload/v1655528797/Galeria/28_niczff.jpg" loading="lazy" class="card-img-top" alt=""></div>
            </div>

            <div class="gallery-itemDESACTIVATED card  col-3" style="width: 18rem;">
                <div class="content"><img src="https://res.cloudinary.com/dfqgg9f1y/image/upload/v1658597924/Galeria/30_gii3hq.jpg" loading="lazy" class="card-img-top" alt=""></div>
            </div>
            <div class="gallery-itemDESACTIVATED card  col-3" style="width: 18rem;">
                <div class="content"><img src="https://res.cloudinary.com/dfqgg9f1y/image/upload/v1658597921/Galeria/31_z5jgxr.jpg" loading="lazy" class="card-img-top" alt=""></div>
            </div>
            <div class="gallery-itemDESACTIVATED card  col-3" style="width: 18rem;">
                <div class="content"><img src="https://res.cloudinary.com/dfqgg9f1y/image/upload/v1658597918/Galeria/32_vbgiaq.jpg" loading="lazy" class="card-img-top" alt=""></div>
            </div>
            <!--
            <div class="gallery-itemDESACTIVATED card  col-3" style="width: 18rem;">
            </div>
            -->
            <div class="gallery-itemDESACTIVATED card  col-3" style="width: 18rem;">
                <div class="content"><img src="https://res.cloudinary.com/dfqgg9f1y/image/upload/v1655528803/Galeria/27_ticcuy.jpg" loading="lazy" class="card-img-top" alt=""></div>
                <br>
                <div class="content"><img src="https://res.cloudinary.com/dfqgg9f1y/image/upload/v1655528791/Galeria/25_wfg5or.jpg" loading="lazy" class="card-img-top" alt=""></div>
            </div>
            <div class="gallery-itemDESACTIVATED card  col-3" style="width: 18rem;">
                <div class="content"><img src="https://res.cloudinary.com/dfqgg9f1y/image/upload/v1629036612/Galeria/13_nthobg.jpg" loading="lazy" class="card-img-top" alt=""></div>
            </div>
        </div>
    </section>

    <div class="extra"></div>

    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid" id="imagenModal"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

    <script src="/javascript/galeria.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>